<style type="text/css">
    .portlet {
        width: 30em;
        display: block;
        float: left;
        border-top: 1px solid #035156;
        border-bottom: 1px solid #035156;
        border-left: 1px solid #035156;
        border-right: 1px solid #035156;
   }
    .portlet2 {
        width: auto;
        display: block;
        float: left;
        border-top: 1px solid #035156;
        border-bottom: 1px solid #035156;
        border-left: 1px solid #035156;
        border-right: 1px solid #035156;
   }
div.row {
  clear: both;
  padding-top: .5em;
  }

div.row span.col1 {
  float: left;
  width: 10em;
  text-align: left;
  }
 div.row span.label {
  float: left;
  width: 15em;
  text-align: right;
  }

div.row span.formw {
  float: left;
  width: 15em;
  text-align: left;
  } 
div.row span.form {
  float: left;
  text-align: left;
  } 
th {
  text-align: left;
font-size:12pt;
font-weight: bold;
  } 
td {
  text-align: left;
font-size:10pt;

  } 
 
</style>

