<style type="text/css">
    .portlet {
        width: 40em;
        display: block;
        float: left;
        border-top: 1px solid #035156;
        border-bottom: 1px solid #035156;
        border-left: 1px solid #035156;
        border-right: 1px solid #035156;
   }
div.divheader{
    width: 100%;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    color: <? echo framework::$colors["theme_color3"] ?>;
    background-color: <? echo framework::$colors["theme_color1"] ?> 
}
td{
    font-size: 10pt;
    vertical-align: top;
}
</style>

