<?php 
header('Content-Type: text/css');

?>      
    .portlet {
        width: 47em;
        display: block;
        float: left;
        border-top: 1px solid #035156;
        border-bottom: 1px solid #035156;
        border-left: 1px solid #035156;
        border-right: 1px solid #035156;
   }
div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float: left;
  width: 35em;
  text-align: left;
  }
div.row span.black {
  font-weight: bold;
        float: right;
  text-align: right;
  width: 10em;
  padding-right:10px;
  }
div.row span.neg {
  font-weight: bold;
        float: right;
  text-align: right;
  width: 10em;
  padding-right:10px;
  }


