<?php 
header('Content-Type: text/css');

?>  

    .portlet {
        width: auto;
        display: block;
        float: left;
        border-top: 1px solid #035156;
        border-bottom: 1px solid #035156;
        border-left: 1px solid #035156;
        border-right: 1px solid #035156;
   }
div.row {
  padding-top: .5em;
  clear: both;
  }

div.row span.label {
  float: left;
  width: 15em;
  text-align: right;
  }
  
div.row span.formw {
  float: left;
  width: 30em;
  text-align: left;
  } 

